<?xml version="1.0"?>
<launch>
  <!-- MAVROS posix SITL environment launch script -->
  <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
  <!-- <arg name="ID" default="1"/> -->
  <arg name="ID"/>
  <arg name="vehicle"/>
  <arg name="model_params_file"/>
  <arg name="udp_offboard_port_remote"/>
  <arg name="udp_offboard_port_local"/>
  <arg name="mavlink_tcp_port"/>
  <arg name="mavlink_udp_port"/>
  <arg name="x"/>
  <arg name="y"/>
  <arg name="z"/>
  <arg name="heading"/>
  
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="est" default="ekf2"/>
  <!-- <arg name="vehicle" default="$(env UAV_TYPE)"/> -->

  <!-- UAV namespace -->
  <group ns="uav$(arg ID)">

    <!-- Mavlink and Gazebo communication ports -->
    <!-- This has to match the rcS file!! -->
    <!-- <arg name="udp_offboard_port_remote" value="$(eval 14000 + (4 * arg('ID')) + 2)"/> -->
    <!-- <arg name="udp_offboard_port_local" value="$(eval 14000 + (4 * arg('ID')) + 1)"/> -->
    <!-- <arg name="mavlink_tcp_port" value="$(eval 4560 + arg('ID'))"/> -->
    <!-- <arg name="mavlink_udp_port" value="$(eval 14560 + arg('ID'))"/> -->

    <!-- PX4 params -->
    <env name="PX4_SIM_MODEL" value="$(arg vehicle)" />
    <env name="PX4_ESTIMATOR" value="$(arg est)" />

    <!-- MAVROS and vehicle configs -->
    <arg name="fcu_url" value="udp://:$(arg udp_offboard_port_remote)@localhost:$(arg udp_offboard_port_local)"/>
  
    <!-- PX4 SITL -->
    <node name="sitl_$(arg ID)" pkg="px4" type="px4" output="screen" args="$(find mrs_simulation)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg ID) -w sitl_$(arg vehicle)_$(arg ID)">
    </node>

    <!-- spawn vehicle -->
    <arg name="cmd" value="$(find xacro)/xacro $(find mrs_simulation)/models/mrs_robots_description/urdf/$(arg vehicle).xacro mrs_robots_description_dir:=$(find mrs_simulation)/models/mrs_robots_description 
      namespace:=uav$(arg ID)
      mavlink_udp_port:=$(arg mavlink_udp_port)
      mavlink_tcp_port:=$(arg mavlink_tcp_port)
      model_params_file:=$(arg model_params_file)"/>
    <param name="robot_description" command="$(arg cmd)"/>
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model $(arg vehicle)_$(arg ID) -package_to_model -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg heading)"/>

    <!-- MAVROS -->
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="$(arg fcu_url)"/>
      <arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
      <arg name="tgt_component" value="1"/>
    </include>

  </group>
</launch>
