<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <arg name="ID"/>
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

    <arg name="port1" value="$(eval 14540 + arg('ID'))"/>
    <arg name="port2" value="$(eval 14580 + arg('ID'))"/>
    <arg name="mavlink_tcp_port" value="$(eval 4560 + arg('ID'))"/>
    <arg name="mavlink_udp_port" value="$(eval 14560 + arg('ID'))"/>

    <!-- UAV group -->
    <group ns="uav$(arg ID)">
      <!-- MAVROS and vehicle configs -->
        <arg name="fcu_url" default="udp://:$(arg port1)@localhost:$(arg port2)"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find mrs_simulation)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="$(eval 2 * arg('ID'))"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="$(arg mavlink_udp_port)"/>
            <arg name="mavlink_tcp_port" value="$(arg mavlink_tcp_port)"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>
</launch>
<!-- to add more UAVs (up to 10):
Increase the id
Change the name space
Set the FCU to default="udp://:14540+id@localhost:14550+id"
Set the malink_udp_port to 14560+id) -->
