<?xml version="1.0"?>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- !!    THIS DOCUMENT CONTAINS ONLY COMMON COMPONENTS MACRO AND    !! -->
<!-- !!    PARAMETERS DEFINITIONS. IT SHOULD NOT CONTAIN ANY          !! -->
<!-- !!                  ARGUMENTS "$(arg ...)"                       !! -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

<!-- License {-->
<!--
Copyright 2015 Fadri Furrer, ASL, ETH Zurich, Switzerland
Copyright 2015 Michael Burri, ASL, ETH Zurich, Switzerland
Copyright 2015 Mina Kamel, ASL, ETH Zurich, Switzerland
Copyright 2015 Janosch Nikolic, ASL, ETH Zurich, Switzerland
Copyright 2015 Markus Achtelik, ASL, ETH Zurich, Switzerland

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!--}-->

<!-- Math constants {-->
<!-- Functions and constants from the python math module (e.g. pi and trigonometric functions) are available for use -->

{%- set pi = 3.14159265359 -%}

{%- macro rad2deg(deg) -%}
{{ deg * pi / 180 }}
{%- endmacro -%}

{%- set rad0 = 0.0 -%}
{%- set rad10 = 10 * pi / 180 -%}
{%- set rad20 = 20 * pi / 180 -%}
{%- set rad30 = 30 * pi / 180 -%}
{%- set rad45 = 45 * pi / 180 -%}
{%- set rad60 = 60 * pi / 180 -%}
{%- set rad65 = 65 * pi / 180 -%}
{%- set rad70 = 70 * pi / 180 -%}
{%- set rad85 = 85 * pi / 180 -%}
{%- set rad90 = 90 * pi / 180 -%}
{%- set rad95 = 95 * pi / 180 -%}
{%- set rad115 = 115 * pi / 180 -%}
{%- set rad120 = 120 * pi / 180 -%}
{%- set rad135 = 135 * pi / 180 -%}
{%- set rad150 = 150 * pi / 180 -%}
{%- set rad180 = 180 * pi / 180 -%}
{%- set rad210 = 210 * pi / 180 -%}

{%- set sin30 = 0.5 -%}
{%- set sin45 = 0.70710678118 -%}
{%- set sin60 = 0.86602540378 -%}
{%- set sin90 = 1.0 -%}

{%- set cos30 = 0.86602540378 -%}
{%- set cos45 = 0.70710678118 -%}
{%- set cos60 = 0.5 -%}
{%- set cos90 = 0.0 -%}

{%- set sqrt2 = 1.41421356237 -%}
<!--}-->

<!-- ================================================================== -->
<!-- ||   generic macro definitions (visualization, collision ...)   || -->
<!-- ================================================================== -->

<!-- {-->

<!-- Macro for visualization of mesh {-->
{%- macro visual_macro(robot_namespace, name, mesh_file, mesh_scale, color, parent, x, y, z, roll, pitch, yaw) -%}
<joint name="{{ name }}_joint" type="fixed">
  <origin xyz="{{ x }} {{ y }} {{ z }}" rpy="{{ roll }} {{ pitch }} {{ yaw }}" />
  <parent>{{ parent }}</parent>
  <child>{{ name }}_link</child>
</joint>

<link name="{{ name }}_link">
  <visual name="{{ name }}_link_visual">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh>
        <filename>{{ mesh_file }}</filename>
        <scale>{{ mesh_scale }}</scale>
      </mesh>
    </geometry>
  </visual>
</link>
<gazebo reference="{{ name }}_link">
  <material>Gazebo/{{ color }}</material>
</gazebo>
{%- endmacro -%}
<!--}-->

<!-- Macro for visualization of colored box {-->
{%- macro colored_box(robot_namespace, name, size_x, size_y, size_z, color, parent, x, y, z, roll, pitch, yaw) -%}
<joint name="{{ name }}_joint" type="fixed">
  <origin xyz="{{ x }} {{ y }} {{ z }}" rpy="{{ roll }} {{ pitch }} {{ yaw }}" />
  <parent>{{ parent }}</parent>
  <child>{{ name }}_link</child>
</joint>

<link name="{{ name }}_link">
  <visual name="{{ name }}_link_visual">
    <geometry>
      <box size="{{ size_x }} {{ size_y }} {{ size_z }}" />
    </geometry>
  </visual>
</link>
<gazebo reference="{{ name }}_link">
  <material>Gazebo/{{ color }}</material>
</gazebo>
{%- endmacro -%}
<!--}-->

<!-- Macro for visualization of textured mesh {-->
{%- macro textured_visual_macro(robot_namespace, name, mesh_file, mesh_scale, parent, x, y, z, roll, pitch, yaw) -%}
<joint name="{{ name }}_joint" type="fixed">
  <origin xyz="{{ x }} {{ y }} {{ z }}" rpy="{{ roll }} {{ pitch }} {{ yaw }}" />
  <parent>{{ parent }}</parent>
  <child>{{ name }}_link</child>
</joint>

<link name="{{ name }}_link">
  <visual name="{{ name }}_link_visual">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh>
        <filename>{{ mesh_file }}</filename>
        <scale>{{ mesh_scale }}</scale>
      </mesh>
    </geometry>
  </visual>
</link>
{%- endmacro -%}
<!--}-->

<!-- Macro for visualization of mesh with collision {-->
{%- macro visual_macro_with_collision(robot_namespace, name, mesh_file, mesh_scale, color, parent, x, y, z, roll, pitch, yaw, collision_height, collision_radius) -%}
<joint name="{{ name }}_joint" type="fixed">
  <origin xyz="{{ x }} {{ y }} {{ z }}" rpy="{{ roll }} {{ pitch }} {{ yaw }}" />
  <parent>{{ parent }}</parent>
  <child>{{ name }}_link</child>
</joint>
<link name="{{ name }}_link">
  <visual name="{{ name }}_link_visual">
    <origin xyz="0 0 -0.015" rpy="0 0 0" />
    <geometry>
      <mesh>
        <filename>{{ mesh_file }}</filename>
        <scale>{{ mesh_scale }}</scale>
    </mesh>
  </geometry>
  </visual>
  <collision>
    <geometry>
      <cylinder length="{{ collision_height }}" radius="{{ collision_radius }}" />
    </geometry>
  </collision>
</link>
<gazebo reference="{{ name }}_link">
  <material>Gazebo/{{ color }}</material>
</gazebo>
{%- endmacro -%}
<!--}-->

<!-- Macro for leg {-->
{%- macro leg_macro(robot_namespace, name, mesh_file, mesh_scale, color, parent, x, y, z, roll, pitch, yaw, collision_height, collision_radius) -%}
<joint name="{{ name }}_joint" type="fixed">
  <origin xyz="{{ x }} {{ y }} {{ z }}" rpy="{{ roll }} {{ pitch }} {{ yaw }}" />
  <parent>{{ parent }}</parent>
  <child>{{ name }}_link</child>
</joint>
<link name="{{ name }}_clip_link">
  <visual name="{{ name }}_link_visual">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh>
        <filename>{{ mesh_file }}</filename>
        <scale>{{ mesh_scale }}</scale>
      </mesh>
    </geometry>
  </visual>
  <collision>
    <geometry>
      <cylinder length="{{ collision_height }}" radius="{{ collision_radius }}" />
    </geometry>
  </collision>
</link>
<gazebo reference="{{ name }}_clip_link">
  <material>Gazebo/{{ color }}</material>
  <collision name='{{ name }}_clip_link_collision'>
    <surface>
      <contact>
        <ode>
          <min_depth>0.001</min_depth>
          <max_vel>0.0</max_vel>
        </ode>
      </contact>
      <friction>
        <ode/>
      </friction>
    </surface>
  </collision>
</gazebo>
{%- endmacro -%}
<!--}-->

<!-- Macro for rotor {-->
{%- macro vertical_rotor(robot_namespace, suffix, direction, motor_constant, moment_constant, parent, mass_rotor, radius_rotor, time_constant_up, time_constant_down, max_rot_velocity, motor_number, rotor_drag_coefficient, rolling_moment_coefficient, color, mesh_file, mesh_scale, x, y, z, ixx, ixy, ixz, iyy, iyz, izz) -%}
<joint name="rotor_{{ motor_number }}_joint" type="continuous">
  <origin xyz="{{ x }} {{ y }} {{ z }}" rpy="{{ roll }} {{ pitch }} {{ yaw }}" />
  <axis xyz="0 0 1" />
  <parent>{{ parent }}</parent>
  <child>rotor_{{ motor_number }}</child>
</joint>
<link name="rotor_{{ motor_number }}">
  <inertial>
    <mass value="{{ mass_rotor }}" /> <!-- [kg] -->
    <inertia ixx="{{ ixx }}" ixy="{{ ixy }}" ixz="{{ ixz }}" iyy="{{ iyy }}" iyz="{{ iyz }}" izz="{{ izz }}" /> <!-- [kg.m^2] [kg.m^2] [kg.m^2] [kg.m^2] [kg.m^2] [kg.m^2] -->
  </inertial>
  <visual name="{{ name }}_link_visual">
    <geometry>
      <mesh>
        <filename>{{ mesh_file }}</filename>
        <scale>{{ mesh_scale }}</scale>
      </mesh>
    </geometry>
  </visual>
  <collision>
    <geometry>
      <cylinder length="0.005" radius="{{ radius_rotor }}" /> <!-- [m] -->
    </geometry>
  </collision>
</link>
<gazebo>
  <plugin name="{{ suffix }}_motor_model" filename="libgazebo_motor_model.so">
    <robotNamespace>{{ robot_namespace }}</robotNamespace>
    <jointName>rotor_{{ motor_number }}_joint</jointName>
    <linkName>rotor_{{ motor_number }}</linkName>
    <turningDirection>{{ direction }}</turningDirection>
    <timeConstantUp>{{ time_constant_up }}</timeConstantUp>
    <timeConstantDown>{{ time_constant_down }}</timeConstantDown>
    <maxRotVelocity>{{ max_rot_velocity }}</maxRotVelocity>
    <motorConstant>{{ motor_constant }}</motorConstant>
    <momentConstant>{{ moment_constant }}</momentConstant>
    <commandSubTopic>/gazebo/command/motor_speed</commandSubTopic>
    <motorNumber>{{ motor_number }}</motorNumber>
    <rotorDragCoefficient>{{ rotor_drag_coefficient }}</rotorDragCoefficient>
    <rollingMomentCoefficient>{{ rolling_moment_coefficient }}</rollingMomentCoefficient>
    <motorSpeedPubTopic>/motor_speed/{{ motor_number }}</motorSpeedPubTopic>
    <rotorVelocitySlowdownSim>{{ rotor_velocity_slowdown_sim }}</rotorVelocitySlowdownSim>
  </plugin>
</gazebo>
<gazebo reference="rotor_{{ motor_number }}">
  <material>Gazebo/{{ color }}</material>
</gazebo>
{%- endmacro -%}
<!--}-->

<!-- Macro for textured rotor {-->
{%- macro textured_vertical_rotor(robot_namespace, suffix, direction, motor_constant, moment_constant, parent, mass_rotor, radius_rotor, time_constant_up, time_constant_down, max_rot_velocity, motor_number, rotor_drag_coefficient, rolling_moment_coefficient, mesh_file, mesh_scale, x, y, z, roll, pitch, yaw, ixx, ixy, ixz, iyy, iyz, izz) -%}
<joint name="rotor_{{ motor_number }}_joint" type="continuous">
  <origin xyz="{{ x }} {{ y }} {{ z }}" rpy="{{ roll }} {{ pitch }} {{ yaw }}" />
  <axis xyz="0 0 1" />
  <parent>{{ parent }}</parent>
  <child>rotor_{{ motor_number }}</child>
</joint>
<link name="rotor_{{ motor_number }}">
  <inertial>
    <mass value="{{ mass_rotor }}" /> <!-- [kg] -->
    <inertia ixx="{{ ixx }}" ixy="{{ ixy }}" ixz="{{ ixz }}" iyy="{{ iyy }}" iyz="{{ iyz }}" izz="{{ izz }}" /> <!-- [kg.m^2] [kg.m^2] [kg.m^2] [kg.m^2] [kg.m^2] [kg.m^2] -->
  </inertial>
  <visual name="{{ name }}_link_visual">
    <geometry>
      <mesh>
        <filename>{{ mesh_file }}</filename>
        <scale>{{ mesh_scale }}</scale>
      </mesh>
    </geometry>
  </visual>
  <collision>
    <geometry>
      <cylinder length="0.005" radius="{{ radius_rotor }}" /> <!-- [m] -->
    </geometry>
  </collision>
</link>
<gazebo>
  <plugin name="{{ suffix }}_motor_model" filename="libgazebo_motor_model.so">
    <robotNamespace>{{ robot_namespace }}</robotNamespace>
    <jointName>rotor_{{ motor_number }}_joint</jointName>
    <linkName>rotor_{{ motor_number }}</linkName>
    <turningDirection>{{ direction }}</turningDirection>
    <timeConstantUp>{{ time_constant_up }}</timeConstantUp>
    <timeConstantDown>{{ time_constant_down }}</timeConstantDown>
    <maxRotVelocity>{{ max_rot_velocity }}</maxRotVelocity>
    <motorConstant>{{ motor_constant }}</motorConstant>
    <momentConstant>{{ moment_constant }}</momentConstant>
    <commandSubTopic>/gazebo/command/motor_speed</commandSubTopic>
    <motorNumber>{{ motor_number }}</motorNumber>
    <rotorDragCoefficient>{{ rotor_drag_coefficient }}</rotorDragCoefficient>
    <rollingMomentCoefficient>{{ rolling_moment_coefficient }}</rollingMomentCoefficient>
    <motorSpeedPubTopic>/motor_speed/{{ motor_number }}</motorSpeedPubTopic>
    <rotorVelocitySlowdownSim>{{ rotor_velocity_slowdown_sim }}</rotorVelocitySlowdownSim>
  </plugin>
</gazebo>
{%- endmacro -%}
<!--}-->

<!-- Macro for main multirotor link {-->
{%- macro multirotor_base_macro(robot_namespace, mass, body_width, body_height, mesh_file, mesh_scale, color, ixx, ixy, ixz, iyy, iyz, izz) -%}
<link name="base_link">
  <origin xyz="0 0 0" rpy="0 0 0" />
</link>

<joint name="base_joint" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <parent>base_link</parent>
  <child>base_link_inertia</child>
</joint>

<link name="base_link_inertia">
  <inertial>
    <mass value="{{ mass }}" />  <!-- [kg] -->
    <origin xyz="0 0 0" />
    <inertia ixx="{{ ixx }}" ixy="{{ ixy }}" ixz="{{ ixz }}" iyy="{{ iyy }}" iyz="{{ iyz }}" izz="{{ izz }}" /> <!-- [kg.m^2] [kg.m^2] [kg.m^2] [kg.m^2] [kg.m^2] [kg.m^2] -->
  </inertial>

  <visual name="{{ name }}_link_visual">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh>
        <filename>{{ mesh_file }}</filename>
        <scale>{{ mesh_scale }}</scale>
      </mesh>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <box size="{{ body_width }} {{ body_width }} {{ body_height }}" /> <!-- [m] [m] [m] -->
    </geometry>
  </collision>
</link>

<!-- attach multirotor_base_plugin to the base_link -->
<gazebo>
  <plugin filename="libgazebo_multirotor_base_plugin.so" name="rosbag">
    <robotNamespace>{{ robot_namespace }}</robotNamespace>
    <linkName>base_link</linkName>
    <rotorVelocitySlowdownSim>{{ rotor_velocity_slowdown_sim }}</rotorVelocitySlowdownSim>
  </plugin>
</gazebo>
<gazebo reference="base_link">
  <material>Gazebo/{{ color }}</material>
  <collision name='base_link_inertia_collision'>
    <surface>
      <contact>
        <ode>
          <min_depth>0.001</min_depth>
          <max_vel>0.0</max_vel>
        </ode>
      </contact>
      <friction>
        <ode/>
      </friction>
    </surface>
  </collision>
</gazebo>
{%- endmacro -%}
<!--}-->

<!-- Macro for main multirotor without mesh for simplier physics{-->
{%- macro multirotor_base_without_mesh_macro(robot_namespace, mass, body_radius, body_height, ixx, ixy, ixz, iyy, iyz, izz) -%}
<link name="base_link"></link>

<link name="base_link_inertia">
  <inertial>
    <mass>{{ mass }}</mass>  <!-- [kg] -->
    <origin>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </origin>
    <inertia>
      <ixx>{{ ixx }}</ixx>
      <ixy>{{ ixy }}</ixy>
      <ixz>{{ ixz }}</ixz>
      <iyy>{{ iyy }}</iyy>
      <iyz>{{ iyz }}</iyz>
      <izz>{{ izz }}</izz>
    </inertia>
  </inertial>
  <collision name="base_link_inertia_collision">
    <geometry>
      <cylinder>
        <length>{{ body_height }}</length>
        <radius>{{ body_radius }}</radius>
      </cylinder>
    </geometry>
  </collision>
</link>

<joint name="base_joint" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <parent>base_link</parent>
  <child>base_link_inertia</child>
</joint>

<!-- attach multirotor_base_plugin to the base_link -->
<gazebo>
  <plugin filename="libgazebo_multirotor_base_plugin.so" name="rosbag">
    <robotNamespace>{{ robot_namespace }}</robotNamespace>
    <linkName>base_link</linkName>
    <rotorVelocitySlowdownSim>{{ rotor_velocity_slowdown_sim }}</rotorVelocitySlowdownSim>
  </plugin>
</gazebo>
<gazebo reference="base_link">
  <collision name='base_link_inertia_collision'>
    <surface>
      <contact>
        <ode>
          <min_depth>0.001</min_depth>
          <max_vel>0.0</max_vel>
        </ode>
      </contact>
      <friction>
        <ode/>
      </friction>
    </surface>
  </collision>
</gazebo>
{%- endmacro -%}
<!--}-->

<!-- Macro for calculating inertia of cylinder {-->
{%- macro cylinder_inertia(m, r, h) -%}
<inertia ixx="{{ m * ( 3 * r * r + h * h ) / 12 }}" ixy="0" ixz="0" iyy="{{ m * ( 3 * r * r + h * h ) / 12 }}" iyz="0" izz="{{ m * r * r / 2 }}"/>
{%- endmacro -%}
<!--}-->

<!--}-->

